$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import '../bower_components/sass-bootstrap/lib/bootstrap';

html {
  height: 99.9%;
}

/* Space out content a bit */
body {
  height: 99.9%;
  overflow-x: hidden;
  background: white url(../images/bgimage.png) no-repeat fixed top;
}