body {
    background-color: #cccccc;
}

#box {
    width: 100px;
    height: 100px;
    background-image: url('img.png');
}

#ajax1, #ajax2 {
    width: 100px;
    height: 100px;
    overflow: scroll;
}
